body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans SC", sans-serif;
  position: relative;
  background-color: #f2d1a4;
  overflow-x: hidden;
}

.noto-sans-sc {
  font-family: "Noto Sans SC", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 1400;
  color: white;
  text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black,
    2px 2px 0 black;
}

.navbar-brand {
  margin-top: 10px;
}

.menuContainer {
  margin-right: 40px;
  margin-top: 25px;
}

.fa-solid {
  cursor: pointer;
  position: fixed;
  top: 10px; 
  right: 20px;
  z-index: 1000;
}

.menuOptions {
  display: none;
  width: 250px;
  margin-top: 50px;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

.menuOptions a {
  display: block;
  color: #000;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  border-bottom: 1px solid #f2f2f2;
}

.back {
  z-index: -1;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  background-image: url(media/backgr.jpg);
  background-size: cover;
}

.aja {
  padding-bottom: 200px;
  padding-left: 150px;
}

.jaja {
  gap: 20px;
}
.ajaja {
  position: absolute;
  top: 100vh;
  width: 100vw;
  height: 100vh;
}

.jaja button {
  width: 200px;
  font-size: 1rem;
  line-height: 1;
  background: linear-gradient(
        90deg,
        #fff calc(100% - 24px),
        transparent calc(100% - 24px)
      )
      12px 0 repeat-x,
    linear-gradient(
        90deg,
        #fff calc(100% - 24px),
        transparent calc(100% - 24px)
      )
      12px 100% repeat-x,
    linear-gradient(
        180deg,
        #fff 0,
        #fff calc(100% - 7px),
        transparent calc(100% - 7px)
      )
      0 0 repeat-y,
    linear-gradient(
        0deg,
        #fff 0,
        #fff calc(100% - 7px),
        transparent calc(100% - 7px),
        transparent
      )
      100% 100% repeat-y;
  background-size: 100% 4px, 100% 4px, 4px 100%, 4px 100%;
  color: #fff;
  margin-left: 0;
  margin-right: 0;
  padding: 1.5rem 1.5rem;
  -webkit-transition: all 0.2s cubic-bezier(0.42, 0, 0.16, 1);
  transition: all 0.2s cubic-bezier(0.42, 0, 0.16, 1);
  border: none;
}

.jaja button:hover {
  font-size: 1rem;
  line-height: 1;
  background: linear-gradient(90deg, #fff calc(100%), transparent calc(100%))
      12px 0 repeat-x,
    linear-gradient(90deg, #fff calc(100%), transparent calc(100%)) 12px 100%
      repeat-x,
    linear-gradient(180deg, #fff 0, #fff calc(100%), transparent calc(100%)) 0 0
      repeat-y,
    linear-gradient(
        0deg,
        #fff 0,
        #fff calc(100%),
        transparent calc(100%),
        transparent
      )
      100% 100% repeat-y;
  background-size: 100% 4px, 100% 4px, 4px 100%, 4px 100%;
  color: #fff;
  margin-left: 0;
  margin-right: 0;
  padding: 1.5rem 1.5rem;
  -webkit-transition: all 0.2s cubic-bezier(0.42, 0, 0.16, 1);
  transition: all 0.2s cubic-bezier(0.42, 0, 0.16, 1);
  border: none;
}

.image {
  width: 50%;
  background-image: url("media/firstview.jpg");
  background-size: cover;
}

.content {
  width: 50%;
  padding: 80px;
  text-align: right;
}

.content h2 {
  color: #b62e1e;
  text-shadow: none;
}

.content p {
  text-shadow: none;
  font-style: bold;
  font-weight: 1000;
  justify-content: center;
  align-self: center;
  text-align: right;
  font-size: 25px;
  margin-top: 30px;
}

@media only screen and (max-width: 600px) {
  .back {
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    justify-content: center;
    padding-bottom: 100px;
  }

  .buttonsAndText {
    flex-direction: column-reverse !important;
    width: 100%;
    gap: 50px;
  }

  .jaja {
    flex-direction: column;
  }

  .navbar-nav {
    width: 100vw;
    align-items: center;
  }

  .fa-solid {
    right: 60px;
  }
  .jaja a button{
      width: 280px;
      height: 80px;
      font-size: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .image {
    display: none;
  }

  .content {
    width: 100%;
  }
}